OLLAMA_MODEL=gemma4:e4b
CHROMA_PATH=./data/chroma
CHROMA_EMBEDDING=default
SUCCESS_COLLECTION=success_memory
FAILURE_COLLECTION=failure_memory
TOP_K_MEMORIES=3
MAX_IMPROVEMENT_LOOPS=2
MAX_AGI_CYCLES=3
RUNS_PATH=./runs
